body {
  font: 16px/1.5 Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.katex {
  font-size: 1.21em;
  line-height: 1.2;
}

h1 {
  font-size: 4em;
  font-weight: 200;
  letter-spacing: -1px;
  margin: 1em 0 -0.75em;
}
h2 {
  font-size: 2em;
  font-weight: 200;
  margin: 2em 0 0.5em;
}

pre, code {
  background: #f3f3f3;
  border-radius: 3px;
  padding: 2px 3px;
  font: 13px Menlo, Monaco, Consolas, Courier New, monospace;
}
pre code {
  padding: 0;
  background: 0;
}
pre {
  padding: 8px;
}

a:link,
a:visited {
  color: #05c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #037;
}

.output pre {
  background: 0;
  border-radius: 0;
  padding: 0;
  text-align: center;
}
.output pre code {
  display: inline-block;
  text-align: left;
}

.block-math {
  text-align: center;
  margin: 1em 0;
}
.block-math > div {
  text-align: left;
  display: inline-block;
}
